/* CSS styles for UVA academic site */

/* basic css definitions */
 
body,td,div,p,pre,ul,a {font-size: 14px;}
h1 {font-size: 35px;}

h2 {
font-size: 16px;
text-decoration : underline;
}

h3 {
  background-color:  #e6ecff;
  color: black;
  text-align: center;
  margin-top: 5ex;
  margin-bottom: 1ex;
  margin-left: 0;
  margin-right: 0ex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10ex;
  font-size: 20px;
}

h4 {
font-size: 12px;
font-style: italic;
}



/* Link styles */
a:link {
    color : #8B0000; /*#0027a6;*/
    text-decoration : none; 
    background : inherit; 
} 
a:visited {
    color : #CD5C5C; 
    text-decoration : none; 
    background : inherit; 
} 
a:hover {
    color : #B22222; /*#DEC3A9;*/
    text-decoration : underline; 
    background : inherit; 
} 

/* nav bar */
/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color:  #e6ecff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #8B0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
 color: #8B0000;
 font-weight: bold;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* center table */
.center {
  margin-left: 30%;
  margin-right: auto;
}

body {
    padding-bottom: 100px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
    
li:not(:last-child) {
    margin-bottom: 5px;
}
